*.class
.project/
.settings/
.idea/
.metadata/
bin-debug
trunk
build
Servers
*.swf
back/RemoteSystemsTempFiles/.project

front/AsignacionObra/AsignacionObra.iml

front/AsignacionObra/bin-debug/AsignacionObra.html

front/AsignacionObra/bin-debug/AsignacionObra.swf

back/nok/WebContent/META-INF/context.xml
